
body {
    color: #4c4b5b;
    font-family: "Euclid Circular A", "Poppins";
    padding-top: 72px;
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .nav button,
  a {
    cursor: pointer;
    transition: 0.3s;
    color: inherit;
    font-weight: 600;
  }
  
  nav {
    position: absolute;
    top: 0;
    left: 0;
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 80px;
    border: #ffce03;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    background: #025AA2;
    transition: top 0.3s;
    border-bottom:8px solid #ffce03;
  }
  

  
  nav > img {
    justify-content: space-between;
    width: 170px;
    height: 70px;
    border-radius: 50%;
  }
  
  .nav-items {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .nav-items  a {
    text-decoration: none;
    color: rgb(255 206 3 / 96%);
    height: 82px;
    display: grid;
    place-items: center;
    font-size: larger;
  }
  
  .nav-items > a:hover {
    color: rgb(255 255 255 / 96%);
  }
  
  h2 {
    font-size: 50px;
    margin-left: 450px;
    justify-content: center;
    cursor: default;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  section {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 00px 60px;
  }
  
  section.shaded {
    background: #f9f9ff;
  }
  
  .section > img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit:fill;
    margin: 0 0;
    padding: 50px;
    background: url(./images/Home_section.jpg);
  }
  
  img {
    width: 100%;
    
    object-fit:fill;
  }
  
  .section > p {
    line-height: 1.7;
  }
  .open {
    margin-left: 40%;
    margin-top: 1%;
    font-size: larger;
  }